{{left_sidebar_enabled=True}}
{{extend 'layout.html'}}

    <section id="main" class="main row">
        {{if left_sidebar_enabled:}}
        <div class="span3 left-sidebar">
            {{block left_sidebar}}
            <h3>Topics</h3>
            <ul>
              <li>{{=A('Introduction', _href=URL('index'))}}</li>
              <li>{{=A('Getting Started', _href=URL('getting_started'))}}</li>
            </ul>
            {{end}}
        </div>
        {{pass}}

        <div class="{{=middle_columns}}">
            {{block center}}
            {{include}}
            {{end}}
        </div>

        {{if right_sidebar_enabled:}}
        <div class="span3">
            {{block right_sidebar}}
            <h3>Right Sidebar</h3>
            <p></p>
            {{end}}
        </div>
        {{pass}}
    </section><!--/main-->
